In [1]:
# https://www.w3schools.com/sql/trysql.asp?filename=trysql_select_all

import sqlite3

In [13]:
data = [('Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
        ('Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '05021', 'Mexico'),
        ('Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '05023', 'Mexico')]

def make_table(data):
    CONN = sqlite3.connect('live_demo.sqlite')
    cur = CONN.cursor()
    # Create table
    cur.execute("""CREATE TABLE Customers
        (CustomerID INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, CustomerName text NOT NULL,
        ContactName text NOT NULL, Address text NOT NULL,
        City text, PostalCode nchar(5), Country text)""")
    # Add data to table
    for customer in data:
        cur.execute("""INSERT INTO Customers (CustomerName,
            ContactName, Address, City, PostalCode, Country) VALUES """ + str(customer))
        
    cur.close()
    CONN.commit()

In [14]:
make_table(data)

In [15]:
CONN = sqlite3.connect('live_demo.sqlite')
cur = CONN.cursor()

cur.execute("""SELECT * FROM Customers""")

In [16]:
cur.fetchall()

[(1,
  'Alfreds Futterkiste',
  'Maria Anders',
  'Obere Str. 57',
  'Berlin',
  '12209',
  'Germany'),
 (2,
  'Ana Trujillo Emparedados y helados',
  'Ana Trujillo',
  'Avda. de la Constitución 2222',
  'México D.F.',
  '05021',
  'Mexico'),
 (3,
  'Antonio Moreno Taquería',
  'Antonio Moreno',
  'Mataderos 2312',
  'México D.F.',
  '05023',
  'Mexico')]

In [17]:
cur.close()
CONN.close()

In [ ]:
# foreign keys? https://www.sqlite.org/foreignkeys.html